* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  background-color: #646464; }

a {
  text-decoration: none; }

/* Header */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #646464;
  height: 17rem; }
  header h1 {
    margin: auto;
    font-size: 8rem;
    letter-spacing: 2rem; }
    header h1 a {
      color: #ffda6c; }
  header nav {
    margin: 0 6rem 0 0; }
    header nav ul {
      list-style: none; }
      header nav ul button {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: 1.8rem;
        text-align: center;
        margin-top: 1.7rem;
        background-color: #ffda6c;
        border-radius: 1rem;
        color: black;
        padding: 1rem;
        outline: none; }
        header nav ul button:hover {
          box-shadow: 2px 2px 9px #FFFFFF;
          border: 0.2rem solid #FFFFFF; }
        header nav ul button img {
          width: 3rem;
          margin-right: 1rem; }

/* Main */
main {
  display: grid;
  grid-template-columns: 0.4fr 1.6fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Aside Section";
  background-color: #FFFFFF; }
  main aside {
    grid-area: Aside;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background-color: #ffda6c; }
    main aside p {
      font-size: 3.5rem;
      margin: 7rem 0 1rem 0;
      text-align: center;
      font-weight: 600;
      font-family: 'Courier New', Courier, monospace; }
    main aside ul {
      margin-left: 3rem; }
      main aside ul li {
        margin: 2.5rem 0;
        width: fit-content; }
      main aside ul .amida {
        list-style: url(../iconos/amida.svg); }
      main aside ul .like {
        list-style: url(../iconos/like.svg); }
      main aside ul .phila {
        list-style: url(../iconos/phila.svg); }
      main aside ul .pluma {
        list-style: url(../iconos/pluma.svg); }
      main aside ul .tupper {
        list-style: url(../iconos/tupper.svg); }
      main aside ul .cappa {
        list-style: url(../iconos/cappa.svg); }
      main aside ul .home {
        list-style: url(../iconos/home.svg); }
      main aside ul button {
        font-size: 2rem;
        background: transparent;
        border: none;
        outline: none;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
        main aside ul button:hover {
          text-shadow: 3px 2px 0px white, 3px 3px 0px white; }

.grilla_inicial {
  grid-area: Section;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 0.2fr);
  grid-auto-flow: dense;
  justify-content: space-evenly;
  justify-items: center;
  gap: 5rem 0;
  margin: 8rem 0 7rem 0; }
  .grilla_inicial img {
    width: 20rem;
    height: 20rem;
    border: #000000 solid;
    border-radius: 1rem; }
  .grilla_inicial p {
    margin-top: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 1.5rem; }
  .grilla_inicial .br_especial {
    display: inherit; }
  .grilla_inicial br {
    display: none; }

.grilla_marcas {
  grid-area: Section;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 0.2fr);
  grid-auto-flow: dense;
  justify-content: space-evenly;
  justify-items: center;
  margin: 7rem 0 18rem 0;
  gap: 15rem 0; }
  .grilla_marcas div {
    width: 20rem;
    height: 20rem;
    border: #000000 solid;
    border-radius: 1rem; }
    .grilla_marcas div:hover {
      background-position: center;
      background-size: contain; }
    .grilla_marcas div img {
      width: 20rem;
      height: 20rem; }
      .grilla_marcas div img:hover {
        opacity: 0; }
    .grilla_marcas div p {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
      font-size: 1.7rem;
      margin: 1.5rem; }
    .grilla_marcas div br {
      display: none; }
    .grilla_marcas div .salto {
      display: block;
      margin-bottom: .8rem; }
    .grilla_marcas div span {
      padding: 1rem;
      position: relative;
      left: 3rem;
      bottom: 1rem;
      font-size: 1.8rem;
      color: #FFFFFF;
      background-color: #000000;
      border-radius: 1rem;
      border: #646464 0.2rem solid;
      box-shadow: 2px 2px 9px black; }

.botonAgregar {
  font-size: 1.8rem;
  position: relative;
  left: 5rem;
  bottom: .9rem;
  border-radius: 50%;
  background-color: green;
  color: #FFFFFF;
  width: 4rem;
  height: 4rem; }
  .botonAgregar:hover {
    box-shadow: 2px 2px 9px black; }

/* Footer */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #646464; }
  footer p {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin: auto 0 auto 6rem;
    text-decoration: underline; }

.footer_iconos {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 2rem; }
  .footer_iconos li a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 2rem; }
    .footer_iconos li a span {
      border: 0.2rem solid #FFFFFF;
      font-size: 1.3rem;
      font-family: 'Oxanium', sans-serif;
      font-weight: 600;
      color: #FFFFFF;
      padding: 0.3rem;
      border-radius: 10px; }
    .footer_iconos li a img {
      width: 2rem;
      height: 2rem;
      padding: 1rem;
      margin: 0 2rem;
      box-sizing: content-box; }
      .footer_iconos li a img:hover {
        transition: all 1s;
        transform: rotate(360deg); }

/* Carrito JS */
.popUp {
  display: none; }

.popUpShow {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  border: 0.3rem solid rgba(255, 255, 255, 0.647);
  border-radius: 1rem;
  padding: 2rem;
  background-color: #000000c2;
  color: white;
  position: absolute;
  width: 25%;
  top: 1;
  right: 0; }

.popUp2 {
  display: grid;
  grid-template-columns: 2fr 1fr .5fr .3fr;
  gap: 3rem;
  align-items: center; }

.popUp3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.zapatilla {
  font-size: 1.7rem;
  margin: .5rem 0;
  font-family: sans-serif; }

.precio {
  font-size: 1.7rem;
  font-family: sans-serif;
  font-weight: bold;
  margin: .5rem 0;
  color: green;
  background-color: #FFFFFF;
  border-radius: 1rem;
  padding: .3rem;
  text-align: center; }

.cantidad {
  border-radius: 1rem;
  text-align: center;
  width: 5rem;
  padding: .2rem;
  outline: none; }

.eliminar {
  background: transparent;
  border: none; }
  .eliminar img {
    margin-top: .4rem;
    width: 2rem;
    height: 2rem; }

#montoTotal {
  font-size: 2rem;
  font-weight: 800;
  font-family: cursive;
  align-self: center;
  margin: 4rem 0 2rem 0;
  color: #1bc31b; }

#botonCompra {
  width: 30rem;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  outline: none; }
  #botonCompra:hover {
    box-shadow: 2px 2px 9px #FFFFFF;
    border: 0.2rem solid #FFFFFF;
    background-color: #FFFFFF; }

#botonOff {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 3rem;
  background-color: transparent; }
  #botonOff:hover {
    box-shadow: 2px 2px 9px #FFFFFF;
    border: 0.2rem solid #FFFFFF; }
  #botonOff img {
    margin-top: .2rem;
    background-position: center;
    width: 2rem; }

#zapatilla1:hover {
  background-image: url(../imagenes/amidas-1b.jpg); }

#zapatilla2:hover {
  background-image: url(../imagenes/amidas-2b.jpg); }

#zapatilla3:hover {
  background-image: url(../imagenes/amidas-3b.jpg); }

#zapatilla4:hover {
  background-image: url(../imagenes/amidas-4b.jpg); }

#zapatilla5:hover {
  background-image: url(../imagenes/like-1b.png); }

#zapatilla6:hover {
  background-image: url(../imagenes/like-2b.png); }

#zapatilla7:hover {
  background-image: url(../imagenes/like-3b.png); }

#zapatilla8:hover {
  background-image: url(../imagenes/like-4b.png); }

#zapatilla9:hover {
  background-image: url(../imagenes/phila-1b.png); }

#zapatilla10:hover {
  background-image: url(../imagenes/phila-2b.png); }

#zapatilla11:hover {
  background-image: url(../imagenes/pluma-1b.jpg); }

#zapatilla12:hover {
  background-image: url(../imagenes/pluma-2b.jpg); }

#zapatilla13:hover {
  background-image: url(../imagenes/tupper-1b.jpg); }

#zapatilla14:hover {
  background-image: url(../imagenes/tupper-2b.jpg); }

#zapatilla15:hover {
  background-image: url(../imagenes/cappa-1b.jpg); }

#zapatilla16:hover {
  background-image: url(../imagenes/cappa-2b.jpg); }

/* Media Queries */
@media only screen and (max-width: 1680px) {
  main aside ul {
    margin-left: 5rem; }
  .popUpShow {
    width: 30%; } }

@media only screen and (max-width: 1380px) {
  main aside ul {
    margin-left: 7rem; }
  .popUpShow {
    width: 40%; } }

@media only screen and (max-width: 1040px) {
  main aside p {
    margin: 7rem 1rem 1rem 1rem; }
  main aside ul {
    margin-left: .5rem; }
    main aside ul li {
      margin: 2.5rem 5rem; }
  .grilla_marcas div span {
    font-size: 1.6rem; }
  .grilla_marcas div p {
    font-size: 1.6rem; }
  #montoTotal {
    font-size: 1.8rem; }
  #botonCompra {
    width: 18rem;
    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif; } }

@media only screen and (max-width: 964px) {
  main aside ul li {
    margin: 2.5rem 4rem; }
  .grilla_inicial img {
    width: 15rem;
    height: 15rem; }
  footer {
    flex-flow: column wrap; }
    footer p {
      margin: 2rem auto 0rem auto; }
  .footer_iconos {
    margin: 1rem auto; }
  .grilla_marcas {
    gap: 15rem 0; }
    .grilla_marcas div {
      width: 15rem;
      height: 15rem; }
      .grilla_marcas div img {
        width: 15rem;
        height: 15rem; }
      .grilla_marcas div span {
        font-size: 1.4rem; }
  .botonAgregar {
    width: 3.5rem;
    height: 3.5rem; } }

@media only screen and (max-width: 715px) {
  header h1 {
    letter-spacing: 1rem; }
  main {
    display: flex;
    flex-flow: column wrap; }
    main aside p {
      margin: 2rem auto 1rem auto; }
    main aside ul .primera_div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 1rem 0 0 0; }
    main aside ul .segunda_div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 2rem 0 2rem 0; }
    main aside ul li {
      margin: auto 2rem; }
  .grilla_inicial {
    margin: 5rem 0 4rem 0; }
  .grilla_marcas {
    margin: 5rem 0 15rem 0; }
  .popUpShow {
    top: 33.8rem;
    width: 62%; } }

@media only screen and (max-width: 591px) {
  .carrito button {
    margin: 0 0 1rem 5rem; }
  .grilla_inicial {
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    .grilla_inicial br {
      display: block; }
  .grilla_marcas {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 4.5rem 0 14rem 0; }
    .grilla_marcas br {
      display: block; }
  footer p {
    font-size: 1.5rem; }
  .popUpShow {
    width: 88%;
    position: fixed;
    z-index: 1; } }

@media only screen and (max-width: 390px) {
  header h1 {
    font-size: 6rem; }
  header .carrito button {
    font-size: 1.6rem; }
  main aside ul {
    margin-left: 1.5rem; }
    main aside ul .primera_div {
      margin: 1rem 0 0 0; }
    main aside ul .segunda_div {
      margin: 2rem 0 2rem 0; }
    main aside ul li {
      margin: auto 1.8rem; }
  .grilla_marcas {
    margin: 4.5rem 0 15rem 0; }
  .popUpShow {
    width: 87%; }
  .footer_iconos {
    flex-flow: column wrap; } }
