/* Cappa */

.grilla_marcas2 {
    grid-area: Section;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 0.2fr);
    justify-content: space-evenly;
    justify-items: center;
    margin: 7rem 0 43rem 0;
        div {
            width: 20rem;
            height: 20rem;
            border: #000000 solid;
            border-radius: 1rem;
            background-position: center;
            background-size: cover;
        }
        .cappa-1 {
            background-image: url(../imagenes/cappa-1a.jpg);
                &:hover{
                    background-image: url(../imagenes/cappa-1b.jpg);
                }
        }
        .cappa-2 {
            background-image: url(../imagenes/cappa-2a.jpg);
                &:hover{
                    background-image: url(../imagenes/cappa-2b.jpg);
                }
        }
        p {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
            font-size: 1.5rem;
            margin: 21rem 0 0 0;
        }
        br {
            display: none;
        }
        .precio {
            display: block;
            margin-bottom: .8rem;
        }
        span {
            padding: 1rem;
            color: $color-principal;
            background-color: #000000;
            border-radius: 1rem;
            border: $color-terciario .2rem solid;
            box-shadow: 2px 2px 9px black;
        }
}
