$color-principal: #FFFFFF;
$color-secundario: #ffda6c;
$color-terciario: #646464;

*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $color-terciario;
}

a {
    text-decoration: none;
}

/* Header */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: $color-terciario;
    height: 17rem;
        h1 {   
            margin: auto;
            font-size: 8rem;
            letter-spacing: 2rem;
                a {
                    color: $color-secundario;
                }
        }
        nav {
            margin: 0 6rem 0 0;
                ul {
                    list-style: none;
                        button {
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            font-size: 1.8rem;
                            text-align: center;
                            margin-top: 1.7rem;
                            background-color: $color-secundario;
                            border-radius: 1rem;
                            color: black;
                            padding: 1rem;
                            outline: none;
                                &:hover{
                                    box-shadow: 2px 2px 9px #FFFFFF;
                                    border: 0.2rem solid #FFFFFF;
                                }  
                                img {
                                    width: 3rem;
                                    margin-right: 1rem;
                                }
                        }
                }
        }
}

/* Main */

main {
    display: grid;
    grid-template-columns: 0.4fr 1.6fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "Aside Section";
    background-color: $color-principal;
        aside {
            grid-area: Aside;
            display: flex;
            flex-flow: column wrap;
            align-content: center;
            background-color: $color-secundario;
                p {
                    font-size: 3.5rem;
                    margin: 7rem 0 1rem 0;
                    text-align: center;
                    font-weight: 600;
                    font-family: 'Courier New', Courier, monospace;
                }
                ul {
                    margin-left: 3rem;
                        li {
                            margin: 2.5rem 0;
                            width: fit-content;
                        }
                        .amida {
                            list-style:url(../iconos/amida.svg);
                        }
                        .like {
                            list-style:url(../iconos/like.svg);
                        }
                        .phila {
                            list-style:url(../iconos/phila.svg);
                        }
                        .pluma {
                            list-style:url(../iconos/pluma.svg);
                        }
                        .tupper {
                            list-style:url(../iconos/tupper.svg);
                        }                  
                        .cappa {
                            list-style:url(../iconos/cappa.svg);
                        }
                        .home {
                            list-style:url(../iconos/home.svg);
                        }
                            a {
                                font-size: 2rem;
                                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                            }
                }
        }
}

.grilla_inicial {
    grid-area: Section;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 0.2fr);
    grid-auto-flow: dense;
    justify-content: space-evenly;
    justify-items: center;
    gap: 5rem 0;
    margin: 8rem 0 7rem 0;
        img {
            width: 20rem;
            height: 20rem;
            border: #000000 solid;
            border-radius: 1rem;
        }
        p {
            margin-top: 2rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
            font-size: 1.5rem;
        }
        .br_especial {
            display: inherit;
        }
        br {
            display: none;
        }
}

/* Footer */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $color-terciario;
        p {
            font-size: 1.8rem;
            font-weight: 600;
            text-align: center;
            color: $color-principal;
            margin: auto 0 auto 6rem;
            text-decoration: underline;
        }
}

.footer_iconos {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 2rem;
        li {
            a {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;
                margin: 0 2rem;
                    span {
                        border: 0.2rem solid $color-principal;
                        font-size: 1.3rem;
                        font-family: 'Oxanium', sans-serif;
                        font-weight: 600;
                        color: $color-principal;
                        padding: 0.3rem;
                        border-radius: 10px;
                    }
                    img {
                        width: 2rem;
                        height: 2rem;
                        padding: 1rem;
                        margin: 0 2rem;
                        box-sizing: content-box;
                            &:hover {
                                transition: all 1s;
                                transform: rotate(360deg);
                            }
                    }
            }
        }
}

/* Carrito JS */

.popUp {
    display: none;
}

.popUpShow {
    display: flex;
    flex-flow: column wrap; 
    justify-content: space-between;
    border: 0.3rem solid rgba(255, 255, 255, 0.647);
    border-radius: 1rem;
    padding: 2rem;
    background-color: #000000c2;
    color: white; 
    position: fixed;
    width: 25%;
    top: 1;
    right: 0;
}

.popUp2 {
    display: grid;
    grid-template-columns: 2fr 1fr .5fr .3fr;
    gap: 3rem;
    align-items: center;
}

.popUp3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.zapatilla {
    font-size: 1.7rem;
    margin: .5rem 0;
    font-family: sans-serif;
}

.precio {
    font-size: 1.7rem;
    font-family: sans-serif;
    font-weight: bold;
    margin: .5rem 0;
    color: green;
    background-color: $color-principal;
    border-radius: 1rem;
    padding: .3rem;
    text-align: center;
}

.cantidad {
    border-radius: 1rem;
    text-align: center;
    width: 5rem;
    padding: .2rem;
    outline: none;
}

.eliminar {
    background: transparent;
    border: none;
        img {
            margin-top: .4rem;
            width: 2rem;
            height: 2rem;
        }
}

#montoTotal {
    font-size: 2rem;
    font-weight: 800;
    font-family: cursive;
    align-self: center;
    margin: 4rem 0 2rem 0;
    color: rgb(27, 195, 27);
}

#botonCompra {
    width: 30rem;
    border-radius: 1rem;
    font-weight: 600;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
        &:hover{
            box-shadow: 2px 2px 9px #FFFFFF;
            border: 0.2rem solid #FFFFFF;
            background-color: $color-principal;
        }
}

#botonOff {
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 3rem;
    background-color: transparent;
        &:hover{
            box-shadow: 2px 2px 9px #FFFFFF;
            border: 0.2rem solid #FFFFFF;
        }
        img {
            margin-top: .2rem;
            background-position: center;
            width: 2rem;
        }
}