#zapatilla1 {
    &:hover {
        background-image: url(../imagenes/amidas-1b.jpg);
    }
}

#zapatilla2 {
    &:hover {
        background-image: url(../imagenes/amidas-2b.jpg);
    }
}

#zapatilla3 {
    &:hover {
        background-image: url(../imagenes/amidas-3b.jpg);
    }
}

#zapatilla4 {
    &:hover {
        background-image: url(../imagenes/amidas-4b.jpg);
    }
}

#zapatilla5 {
    &:hover {
        background-image: url(../imagenes/like-1b.png);
        background-size: cover;
    }
}

#zapatilla6 {
    &:hover {
        background-image: url(../imagenes/like-2b.png);
        background-size: cover;
    }
}

#zapatilla7 {
    &:hover {
        background-image: url(../imagenes/like-3b.png);
        background-size: cover;
    }
}

#zapatilla8 {
    &:hover {
        background-image: url(../imagenes/like-4b.png);
        background-size: cover;
    }
}

#zapatilla9 {
    &:hover {
        background-image: url(../imagenes/phila-1b.png);
    }
}

#zapatilla10 {
    &:hover {
        background-image: url(../imagenes/phila-2b.png);
    }
}

#zapatilla11 {
    &:hover {
        background-image: url(../imagenes/pluma-1b.jpg);
    }
}

#zapatilla12 {
    &:hover {
        background-image: url(../imagenes/pluma-2b.jpg);
    }
}

#zapatilla13 {
    &:hover {
        background-image: url(../imagenes/tupper-1b.jpg);
    }
}

#zapatilla14 {
    &:hover {
        background-image: url(../imagenes/tupper-2b.jpg);
    }
}

#zapatilla15 {
    &:hover {
        background-image: url(../imagenes/cappa-1b.jpg);
    }
}

#zapatilla16 {
    &:hover {
        background-image: url(../imagenes/cappa-2b.jpg);
    }
}